Repository tgstation/event-summer-ball-2025, pull requests merged in 2025-07, with the labels that each got.

#5 Medbay + Map JSON fixes
  _maps/ball.json
  _maps/map_files/event_summer_ball/EventSummerBall2025.dmm
Labels: Map Edit

#8 Merge pull request #2 from SmArtKar/event-ragecage
  _maps/map_files/debug/runtimestation.dmm
  _maps/templates/arena_electrified.dmm
  _maps/templates/arena_standard.dmm
  code/__DEFINES/cooldowns.dm
  code/__DEFINES/mapping.dm
  modular_event/base/ragecage/arena.dm
  modular_event/base/ragecage/duel.dm
  modular_event/base/ragecage/templates.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/RagecageConsole.tsx
Labels: Map Edit, Feature

#4 beach area + tram
  _maps/map_files/event_summer_ball/EventSummerBall2025.dmm
  code/modules/transport/transport_navigation.dm
Labels: Map Edit

#14 summer ball outfit fixes
  code/datums/greyscale/config_types/greyscale_configs/greyscale_clothes.dm
  code/modules/clothing/under/skirt_dress.dm
Labels: Fix

#11 Service setup
  _maps/map_files/event_summer_ball/EventSummerBall2025.dmm
Labels: Map Edit

#21 Arrivals pt2
  _maps/map_files/event_summer_ball/EventSummerBall2025.dmm
  _maps/shuttles/arrival_schoolbus.dmm
  modular_event/ball/bus.dm
  tgstation.dme
Labels: Map Edit

#18 Changing rooms & Table game rooms
  _maps/map_files/event_summer_ball/EventSummerBall2025.dmm
Labels: Map Edit

#24 Adds 3 ragecage variations and the arena itself
  _maps/map_files/event_summer_ball/EventSummerBall2025.dmm
  _maps/templates/arena_electrified.dmm
  _maps/templates/arena_flooded.dmm
  _maps/templates/arena_standard.dmm
  modular_event/ball/grilles.dm
  modular_event/base/ragecage/templates.dm
  tgstation.dme
Labels: Map Edit

#27 landscaping update
  _maps/map_files/event_summer_ball/EventSummerBall2025.dmm
Labels: Map Edit

#25 Mapper lair and underground sauna
  _maps/map_files/event_summer_ball/EventSummerBall2025.dmm
  modular_event/ball/ladder.dm
  modular_event/ball/plaque.dm
  modular_event/ball/safe_turfs.dm
  tgstation.dme
Labels: Map Edit

#28 Fake Cliff Walls
  _maps/map_files/event_summer_ball/EventSummerBall2025.dmm
  code/game/turfs/closed/indestructible.dm
  icons/turf/cliff/cliff_face.dmi
Labels: Map Edit, Feature

#33 Verb to quick-load the ball map + vending fix + baseturf fix
  _maps/ball.json
  modular_event/ball/mapchange.dm
  modular_event/base/disable_economy.dm
  tgstation.dme
Labels: Map Edit

#29 Ambience fixes, Fluff structure fixes
  _maps/map_files/event_summer_ball/EventSummerBall2025.dmm
  code/controllers/subsystem/ambience.dm
  modular_event/ball/area.dm
  modular_event/ball/outdoor_lighting.dm
  modular_event/ball/plaque.dm
  tgstation.dme
Labels: Map Edit

#34 add tcomms
  _maps/map_files/event_summer_ball/EventSummerBall2025.dmm
Labels: Map Edit
